@media (max-width: 1099px) {
    .prev, .next {
        display: none;
    }
}

@media (max-width: 991px) {
    .header {
        margin: 0 auto;
        width: 90%;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .title_left {
        text-align: center;
        font-size: 33px;
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .reviews {
        &__content {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 899px) {
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
        &__subheader {
            font-size: 21px;
            line-height: 21px;
        }
    }
    .benefits {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            &:nth-child(3) {
                margin: 0 auto;
                margin-top: 65px;
            }
        }
    }
    .title_left {
        font-size: 25px;
    }
    .carousel {
        .tns-item {
            img {
                width: 90%;
            }
        }
    }
    .catalog {
        &__tabs {
            width: 90%;
            margin: 0 auto;
            margin-top: 70px;
        }
    }
    .reviews {
        &__content {
            align-items: flex-start;
        }
    }
}

@media (max-width: 799px) {
    .footer {
        &__info {
            width: 100%;
        }
    }
}

@media (max-width: 599px) {
    .catalog {
        &__tab {
            font-size: 17px;
        }
    }
    .reviews {
        &__content {
            flex-direction: column;
        }
        &__photo {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__name, &__term {
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            img {
                width: 90%;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 125px;
            height: 25px;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
            line-height: 25px;
        }
        &__subheader {
            font-size: 15px;
            line-height: 15px;
        }
        &__icons {
            width: 300px;
            align-items: flex-end;
        }
        &__icon {
            font-size: 13px;
        }
    }
    .button {
        &:hover {
            background-color: $main_color;
        }
    }
    .title_left {
        text-align: center;
        font-size: 21px;
    }
    .catalog {
        &__tab {
            font-size: 16px;
        }
    }
    .footer {
        &__phone {
            &:hover {
                text-decoration: none;
            }
        }
        &__social {
            &__item {
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media (max-width: 499px) {
    .benefits {
        &__item {
            margin: 0 auto;
            &:nth-child(2) {
                margin-top: 65px;
            }
        }
    }
    .catalog {
        &__tab {
            font-size: 13px;
        }
    }
}

@media (max-width: 449px) {
    .footer {
        &__info {
            padding: 0;
        }
        &__address {
            margin-top: 50px;
        }
    }
}

@media (max-width: 429px) {
    .catalog {
        &__tab {
            font-size: 12px;
        }
    }
}

@media (max-width: 399px) {
    .catalog {
        &__tab {
            font-size: 11px;
        }
    }
}

@media (max-width: 359px) {
    .catalog {
        &__tab {
            font-size: 10px;
        }
    }
    .footer {
        &__address, &__phone {
            font-size: 19px;
        }
    }
}

@media (max-width: 322px) {
    .catalog {
        &__tab {
            font-size: 9px;
        }
    }
}